.container {
  display: grid;
  grid-template-columns: auto auto auto;
}
body {
  background-color: #e9d5b0;
}
div {
  border-style: none;
  margin: 10px;
  text-align: center;
}
.container div {
  background-color: #e9d5b0;
}
