
.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

body {
  background-color: rgb(211, 247, 213);
}

div {
  border-style: solid;
  margin: 10px;
  text-align: center;
}
.container div {
  background-color: rgb(233, 247, 224);
}


